#include "ataraxia.dtsi"
#include "pmw3610.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors/input_gestures_accel.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>


&pointer_accel {
    input-type = <INPUT_EV_REL>;
    codes = <INPUT_REL_X INPUT_REL_Y>; // X and Y axis events
    sensitivity = <1200>;      // 1.2x base sensitivity
    max-factor = <3000>;       // Good acceleration for large movements
    y-boost = <1200>;          // 1.2x Y-axis boost
    speed-threshold = <1200>;  // Balanced acceleration point
    speed-max = <6000>;        // Max acceleration at 6000 counts/sec
    min-factor = <800>;        // 0.8x minimum for precision
    acceleration-exponent = <2>; // Mild exponential curve
    sensor-dpi = <800>;        // 800 DPI sensor
};

/* More about input processors: https://zmk.dev/docs/keymaps/input-processors#input-processors-overview */


/ {
    chosen {
        zmk,kscan = &default_kscan;	
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_kscan";
        diode-direction = "col2row";                                                                                                                                                                                                               
        wakeup-source;
        col-gpios
            = <&shifter 7 GPIO_ACTIVE_HIGH> // COL0
            , <&shifter 6 GPIO_ACTIVE_HIGH> // COL1
            , <&shifter 5 GPIO_ACTIVE_HIGH> // COL2
            , <&shifter 4 GPIO_ACTIVE_HIGH> // COL3
            , <&shifter 3 GPIO_ACTIVE_HIGH> // COL4
            , <&shifter 2 GPIO_ACTIVE_HIGH> // COL5
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL6
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL7
          //  , <&gpio1 02 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL7
          //  , <&shifter 15 GPIO_ACTIVE_HIGH> // COL7
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL8
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL9
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL10
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL11
            ;
        row-gpios
            = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW0
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW1
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW2
            , <&gpio1 07 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW3     &shifter 1 
            ;
    };

    trackball_listener { // listener for input device
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors =
            <&pointer_accel>;
    };
};
