#include "ataraxia.dtsi"
#include "ataraxia-layouts.dtsi"
#include "pmw3610.dtsi"
#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <input/processors/report_rate_limit.dtsi>
#include <behaviors/input_gestures_accel.dtsi>


&pointer_accel { // this needs to be put BEFORE input-listener
    input-type = <INPUT_EV_REL>;
    codes = <INPUT_REL_X INPUT_REL_Y>;
    sensitivity = <800>;         // 0.8x base sensitivity
	min-factor = <800>;			  // 0.8x minimum for percision
    max-factor = <3000>;          // 3.0x maximum acceleration
    acceleration-exponent = <1>;  // Advanced exponential curve (1-5)
    y-boost = <1000>;             // 1.0x Y-axis boost for widescreen
    speed-threshold = <900>;      // Start acceleration at 900 counts/sec, just 1.5 inch/sec
    speed-max = <1800>;           // Max acceleration at 1800 counts/sec, just 3 inch/sec
    min-factor = <1000>;          // 1.0x minimum (no deceleration)
	sensor-dpi = <600>;
};

&pro_micro_spi {
	status = "okay";
	cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
	shifter: 595@0 {
		compatible = "zmk,gpio-595";
		status = "okay";
		gpio-controller;
		spi-max-frequency = <200000>;
		reg = <0>;
		#gpio-cells = <2>;
		ngpios = <8>;
	};
};

&layout_ataraxia {
    transform = <&matrix_transform>;
};

/ {
	chosen {
		zmk,kscan = &kscan0;
	};

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        col-gpios
            = <&shifter 7 (GPIO_ACTIVE_HIGH)> // COL0
            , <&shifter 6 (GPIO_ACTIVE_HIGH)> // COL1
            , <&shifter 5 (GPIO_ACTIVE_HIGH)> // COL2
            , <&shifter 4 (GPIO_ACTIVE_HIGH)> // COL3
            , <&shifter 3 (GPIO_ACTIVE_HIGH)> // COL4
            , <&shifter 2 (GPIO_ACTIVE_HIGH)> // COL5
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH)> // COL6
            , <&shifter 15 (GPIO_ACTIVE_HIGH)> // COL7
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH)> // COL8
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH)> // COL9
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH)> // COL10
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH)> // COL11
            ;
        row-gpios
            = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW0
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW1
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW2
            , <&shifter 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW3
            ;
    };

    trackball_listener { // listener for input device
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors =
            <&pointer_accel>,
            <&zip_ble_report_rate_limit 8>, // from badjeff's https://github.com/badjeff/zmk-input-processor-report-rate-limit/blob/main/dts/input/processors/report_rate_limit.dtsi
            <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP)>;

        scroll {
            layers = <1>; // scroll_layer
            input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_scaler 1 16>,
            <&zip_xy_to_scroll_mapper>;
        };
    };
};
