/*
 * Copyright (c) 2025 miketronic
 * SPDX-License-Identifier: MIT
 * ataraxia
 */


// #include <input/processors.dtsi>
// #include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// #include <dt-bindings/zmk/bt.h>
// #include <dt-bindings/zmk/outputs.h>


#define ALPHA       0



/ {

    keymap {
        compatible = "zmk,keymap";

       ALPHA_layer {
            display-name = "ATARAXIA";  
            bindings = <
                &kp A  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I   &kp O   &kp P    &kp X
                &kp B  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K   &kp L   &kp SEMI &kp Y
                &kp C  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT &kp FSLH &kp Z
                                &kp LCTRL &kp LALT &kp SPACE  &kp RET   &kp RGUI &kp DEL
            >;
        };

    };
};
