/*
 * Copyright (c) 2025 miketronic
 * SPDX-License-Identifier: MIT
 * ataraxia v1 qwerty 5-column
 */

/*
 *
 * List of behaviors here > https://github.com/zmkfirmware/zmk/tree/main/app/dts/behaviors
 *
 *
 * #undef ZMK_BEHAVIORS_KEEP_ALL
 * #define ZMK_BEHAVIORS_KEEP_BT
 * #define ZMK_BEHAVIORS_KEEP_KP
 * #define ZMK_BEHAVIORS_KEEP_LT
 * #define ZMK_BEHAVIORS_KEEP_MKP
 * #define ZMK_BEHAVIORS_KEEP_MMV
 * #define ZMK_BEHAVIORS_KEEP_MSC
 * #define ZMK_BEHAVIORS_KEEP_MT
 * #define ZMK_BEHAVIORS_KEEP_NONE
 * #define ZMK_BEHAVIORS_KEEP_SK
 *
 *
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 200

#include <behaviors.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define ALPHA       0
#define SYMBOL      1
#define FN          2

#define MS_U &msc SCRL_UP
#define MS_D &msc SCRL_DOWN
#define MS_R &msc SCRL_RIGHT
#define MS_L &msc SCRL_LEFT


/ {
    combos {
        compatible = "zmk,combos";

        combo_bootloader {
            timeout-ms = <40>;
            key-positions = < 29 30 >;
            bindings = <&bootloader>;
            layers = < FN >;
        };
        combo_right_meh {
            timeout-ms = <40>;
            key-positions = < 19 20 21 >;
            bindings = < &sk RC(RG(RS(0))) >;
        };
        combo_left_meh {
            timeout-ms = <40>;
            key-positions = < 14 15 16 >;
            bindings = < &sk LC(LG(LS(0))) >;
        };
        combo_right_hyper {
            timeout-ms = <40>;
            key-positions = < 19 20 21 22 >;
            bindings = < &sk RC(RG(RA(RS(0)))) >;
        };
        combo_left_hyper {
            timeout-ms = <40>;
            key-positions = < 14 15 16 17 >;
            bindings = < &sk LC(LG(LA(LS(0)))) >;
        };
        combo_left_mouse_click {
            timeout-ms = <40>;
            key-positions = < 15 16 >;
            bindings = <&mkp LCLK>;
        };
        combo_right_mouse_click {
            timeout-ms = <40>;
            key-positions = < 14 15 >;
            bindings = <&mkp RCLK>;
        };
        combo_middle_mouse_click {
            timeout-ms = <40>;
            key-positions = < 13 14 >;
            bindings = <&mkp MCLK>;
        };
        combo_esc {
            timeout-ms = <40>;
            key-positions = < 1 16 >;
            bindings = <&kp ESC>;
        };
        combo_tab {
            timeout-ms = <40>;
            key-positions = < 13 16 >;
            bindings = <&kp TAB>;
        };
        combo_backspace {
            timeout-ms = <40>;
            key-positions = < 19 10 >;
            bindings = <&kp BACKSPACE>;
        };
        combo_del {
            timeout-ms = <40>;
            key-positions = < 19 9 >;
            bindings = <&kp DELETE>;
        };
        combo_enter {
            timeout-ms = <40>;
            key-positions = < 19 22 >;
            bindings = <&kp ENTER>;
        };
        combo_fn_layer {
            timeout-ms = <40>;
            key-positions = < 38 39 >;
            bindings = <&mo FN>;
        };
    };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        ALPHA_layer {
            display-name = "ALPHA";  
            bindings = <
                &kp Q      &kp Q      &kp W        &kp E        &kp R         &kp T       &kp Y      &kp U         &kp I        &kp O        &kp P     &kp BSPC
                &kp A      &kp A      &hml LGUI S  &hml LALT D  &hml LCTRL F  &kp G       &kp H      &hmr RCTRL J  &hmr RALT K  &hmr RGUI L  &kp SEMI  &kp QUOT
                &kp LSHFT  &kp LSHFT  &kp X        &kp C        &kp V         &kp B       &kp N      &kp M         &kp COMMA    &kp DOT      &kp FSLH  &kp CAPS
                                                   &mkp RCLK    &mkp LCLK     &mo SYMBOL  &kp SPACE  &kp SPACE     &kp SPACE
            >;
        };

        SYMBOL_layer {
            display-name = "SYMBOL";  
            bindings = <
                &trans  &kp N1     &kp N2  &kp N3     &kp N4     &kp N5     &kp N6    &kp N7    &kp N8    &kp N9     &kp N0    &trans
                &trans  &kp UNDER  &trans  &kp MINUS  &kp EQUAL  &kp GRAVE  &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT  &kp APOS  &trans
                &trans  &trans     &trans  &trans     &kp PLUS   &kp PIPE   &kp STAR  &kp LBKT  &kp RBKT  &trans     &kp BSLH  &trans
                                           &trans     &trans     &trans     &trans    &trans    &trans
            >;
        };

        FN_layer {
            display-name = "FN";  
            bindings = <
                &trans  &kp F1  &kp F2  &kp F3        &kp F4      &kp F5        &kp F6        &kp F7      &kp F8        &kp F9   &kp F10   &trans
                &trans  &trans  &trans  &kp C_BRI_DN  &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  &kp C_BRI_UP  &kp F11  &kp F12   &trans
                &trans  &trans  &trans  &trans        &trans      &trans        &trans        &trans      &trans        &trans   &trans    &trans
                                        &trans        &trans      &trans        &trans        &trans      &trans
            >;
        };
    };
};
