# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT


if SHIELD_ATARAXIA

config ZMK_POINTING
    default y

config ZMK_KEYBOARD_NAME
    default "ataraxia"

config SPI
    default y

endif

